.p-item {
    border: 2px solid black;
    text-align: center;
    padding: 10px;
}

.p-item button {
    width: 100px;
    background: none;
    background-color: black;
    color: wheat;
}

.col-sm-4 {
    margin: 10px 0;
}

footer {
    background-color: black;
    margin-top: 50px;
}

.p-item image {}